// Width
$min-width       : 320px;
$container-width : 1120px;

//Typography
$body-font-size  : 19px;
$font-primary    : 'Lato', sans-serif;
$font-secondary  : 'Red Hat Display', sans-serif;
$h2-font-size    : 23px;
